# ARITHMETIC OPERATIONS

In [1]:
1/2

0.5

In [2]:
2**5

32

# VARIABLE ASSIGNMENT

In [4]:
x = 5

In [5]:
x

5

In [6]:
l = 2
y = 3

In [7]:
l+y

5

# STRINGS

In [8]:
" I can't go "

" I can't go "

In [9]:
x = 'hello'

In [13]:
x # prints with quotes

'hello'

In [14]:
print(x) #prints without quotes and out

hello

In [16]:
age = 18
name = 'DK'

In [17]:
print('My name is {} and my age is {}'.format(name,age))

My name is DK and my age is 18

In [18]:
print('My name is {one} and my age is {two} and i need {two} more years to be rich'.format(one=name,two=age) )

My name is DK and my age is 18 and i need 18 more years to be rich

In [20]:
name = 'hello' #indexing

In [21]:
print(name[4])

o

In [22]:
print(name[1:3])

el

# LISTS

In [23]:
[1,2,3]

[1, 2, 3]

In [24]:
['a','b']

['a', 'b']

In [25]:
new_list = ['a','b','c']

In [26]:
new_list.append('d')

In [27]:
new_list

['a', 'b', 'c', 'd']

In [28]:
print(new_list[0:2])

['a', 'b']

In [29]:
new_list[0] = 1

In [30]:
new_list

[1, 'b', 'c', 'd']

In [31]:
nest = [1,2,[3,4,[5,6]]] #nesting

In [32]:
nest[2][2][1]

6

In [33]:
print(new_list)

[1, 'b', 'c', 'd']

# DICTIONARIES

In [1]:
d = {'key1':'value','key2':1234}

In [3]:
d['key2']

1234

In [5]:
d = {'key':[1,2,3,4]}

In [6]:
d['key']

[1, 2, 3, 4]

In [7]:
d['key'][2]

3

In [8]:
d = {'key':{'key2':[1,2,3,4,5]}}

In [10]:
d['key']['key2'][3]

4

# TUPLES (Can't assign new values to already assigned variables)

In [11]:
t = (1,2,3)

In [12]:
t[0]

1

# SETS

In [13]:
{1,2,3}

{1, 2, 3}

In [14]:
set([1,3,4,4,4,5,5,5,3,1]) #calling set func

{1, 3, 4, 5}

In [15]:
s = {1,2,3}

In [16]:
s

{1, 2, 3}

In [17]:
s.add(5) #no matter how many times you run it would be effective only once

In [18]:
s

{1, 2, 3, 5}

# BOOLEANS AND OPERATORS

In [20]:
'hi' == 'bye'

False

In [22]:
(1<2) and (2<3)

True

In [23]:
(1<2) or (4<3)

True

# CONDITIONAL STATEMENTS AND LOOPS

In [28]:
if (3<2):
  x = 2+2
  print(x)  
elif (5==5):
    x = 6
    print(x)
elif (6==6):
    x=7
    print(x)
else:
    x=2+3
    print(x)

6

In [29]:
seq = [1,2,3,4,5,6]

In [31]:
for num in seq:
    print(num)

1
2
3
4
5
6

In [32]:
for num in seq:
    print('DK')

DK
DK
DK
DK
DK
DK

In [35]:
i = 1

while i<5:
    print('i is {}'.format(i))
    i = i+1

i is 1
i is 2
i is 3
i is 4

# FUNCTIONS IN PYTHON

In [36]:
range(0,5)

range(0, 5)

In [37]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [38]:
list(range(1,4))

[1, 2, 3]

In [39]:
x = [1,2,3,4]

In [42]:
out = []

for num in x:
    out.append(num**2)

In [43]:
out

[1, 4, 9, 16]

In [46]:
out1 = [num**2 for num in x] #listcomprehension

In [47]:
out1

[1, 4, 9, 16]

In [65]:
def my_function(var = 'patootie'): #making own's function
    print('hello ' + var)

In [66]:
my_function('cutie')

hello cutie

In [67]:
my_function()

hello patootie

In [70]:
def square(num):
    """
    THIS IS THE DESCRIPTION ABOUT SQUARE FUNCTION
    
    """
    return(num**2)

In [71]:
output = square(2) #you have to put values inside the 
output

4

In [73]:
#press shift tab for description of a function